In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import sys

In [2]:
housing = pd.read_csv("C:\\Titanic\\USA_Housing.csv")

In [3]:
housing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\r\nLake Kathleen, ..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\r\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\r\nFPO AE 09386

In [4]:
X=housing.drop("Price",axis=1)
X=housing.drop("Address",axis=1)

In [5]:
Y=housing["Price"]

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import ExtraTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [8]:
#X.head()
X=housing.drop(["Price","Address"],axis=1)

In [9]:
X.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.458574,5.682861,7.009188,4.09,23086.800503
1,79248.642455,6.002900,6.730821,3.09,40173.072174
2,61287.067179,5.865890,8.512727,5.13,36882.159400
3,63345.240046,7.188236,5.586729,3.26,34310.242831
4,59982.197226,5.040555,7.839388,4.23,26354.109472

In [10]:
Y.head()

0    1.059034e+06
1    1.505891e+06
2    1.058988e+06
3    1.260617e+06
4    6.309435e+05
Name: Price, dtype: float64

In [11]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,train_size = 0.7, random_state = 7)

In [32]:
lr=LinearRegression()
dr=DecisionTreeRegressor()
er=ExtraTreeRegressor()
gr=GradientBoostingRegressor()
rr=RandomForestRegressor()

In [33]:
def rmse_score(y_actual,y_pred):
    return np.sqrt(np.mean([(pred-actual)**2 for pred,actual in zip(y_pred,y_actual)]))

In [40]:
exp_dict={0:(lr,'linearRegression'), 
         1:(dr,'DecisionTreeRegressor'),
         2:(er,'ExtraTreeRegressor'),
         3: (gr,'GradientBoostingRegressor'),
         4: (rr,'RandomForestRegressor')}

In [41]:
res_ls=[]

In [42]:
for k in exp_dict.keys():
    model=exp_dict[k][0]
    name=exp_dict[k][1]
    model.fit(x_train, y_train)
    y_pred=model.predict(x_test)
    r_score=model.score(x_test,y_test)
    rmse=rmse_score(y_test,y_pred)
    res_ls.append((name,rmse,r_score))

In [43]:
res_ls

[('linearRegression', 101619.5695889728, 0.914921728764092),
 ('DecisionTreeRegressor', 184163.84683587035, 0.7205702061797907),
 ('ExtraTreeRegressor', 191851.80446497974, 0.6967535461224283),
 ('GradientBoostingRegressor', 109992.75673187558, 0.9003236496215622),
 ('RandomForestRegressor', 118565.85589952773, 0.8841800866200703)]

In [44]:
res_df=pd.DataFrame(res_ls)

res_df.columns=['model','rmse_score','r_score']
res_df.sort_values('rmse_score',inplace=True)

In [45]:
res_df

                           0              1         2
0           linearRegression  101619.569589  0.914922
1      DecisionTreeRegressor  184163.846836  0.720570
2         ExtraTreeRegressor  191851.804465  0.696754
3  GradientBoostingRegressor  109992.756732  0.900324
4      RandomForestRegressor  118565.855900  0.884180

In [46]:
#Using regular Expressions
import re

In [48]:
pattern=re.compile(r'[A-Z]+\s[0-9]',flags=re.M)

In [49]:
pattern

re.compile(r'[A-Z]+\s[0-9]', re.MULTILINE|re.UNICODE)

In [54]:
s=housing['Address']

In [58]:

pat=re.search(pattern,s)
pat1=re.findall(pattern,s)[0]
print(pat1)

NE 3

In [62]:
def get_state(Address):
    return re.findall(pattern,Address)[0].split(' ')[0]

# Add State as feature to X and checking change in values of Regession probabilities and impact

In [64]:
housing

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address,State
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37...",NE
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\r\nLake Kathleen, ...",CA
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064...",WI
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\r\nFPO AP 44820,AP
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\r\nFPO AE 09386,AE
5,80175.754159,4.988408,6.104512,4.04,26748.428425,1.068138e+06,"06039 Jennifer Islands Apt. 443\r\nTracyport, ...",KS
6,64698.463428,6.025336,8.147760,3.41,60828.249085,1.502056e+06,"4759 Daniel Shoals Suite 442\r\nNguyenburgh, C...",CO
7,78394.339278,6.989780,6.620478,2.42,36516.358972,1.573937e+06,"972 Joyce Viaduct\r\nLake William, TN 17778-6483",TN
8,59927.660813,5.362126,6.393121,2.30,29387.396003,7.988695e+05,USS Gilbert\r\nFPO AA 20957,AA
9,81885.927184,4.423672,8.167688,6.10,40149.965749,1.545155e+06,Unit 9446 Box 0958\r\nDPO AE 97025,AE
10,80527.472083,8.093513,5.042747,4.10,47224.359840,1.707046e+06,"6368 John Motorway Suite 700\r\nJanetbury, NM ...",NM
11,50593.695497,4.496513,7.467627,4.49,34343.991886,6.637324e+05,"911 Castillo Park Apt. 717\r\nDavisborough, PW...",PW
12,39033.809237,7.671755,7.250029,3.10,39220.361467,1.042814e+06,"209 Natasha Stream Suite 961\r\nHuffmanland, N...",NE
13,73163.663441,6.919535,5.993188,2.27,32326.123139,1.291332e+06,"829 Welch Track Apt. 992\r\nNorth John, AR 265...",AR
14,69391.380184,5.344776,8.406418,4.37,35521.294033,1.402818e+06,"PSC 5330, Box 4420\r\nAPO AP 08302",PSC
15,73091.866746,5.443156,8.517513,4.01,23929.524053,1.306675e+06,"2278 Shannon View\r\nNorth Carriemouth, NM 84617",NM
16,79706.963058,5.067890,8.219771,3.12,39717.813576,1.556787e+06,"064 Hayley Unions\r\nNicholsborough, HI 44161-...",HI
17,61929.077018,4.788550,5.097010,4.30,24595.901498,5.284852e+05,"5498 Rachel Locks\r\nNew Gregoryshire, PW 54755",PW
18,63508.194299,5.947165,7.187774,5.12,35719.653052,1.019426e+06,Unit 7424 Box 2786\r\nDPO AE 71255,AE
19,62085.276403,5.739411,7.091808,5.49,44922.106702,1.030591e+06,"19696 Benjamin Cape\r\nStephentown, ME 36952-4733",ME
20,86294.999089,6.627457,8.011898,4.07,47560.775336,2.146925e+06,"030 Larry Park Suite 665\r\nThomashaven, HI 87...",HI
21,60835.089979,5.551222,6.517175,2.10,45574.741662,9.292476e+05,USNS Brown\r\nFPO AP 85833,AP
22,64490.650267,4.210323,5.478088,4.31,40358.960106,7.188872e+05,"95198 Ortiz Key\r\nPort Sara, TN 24541-2855",TN
23,60697.351539,6.170484,7.150537,6.34,28140.967088,7.439998e+05,"9003 Jay Plains Suite 838\r\nLake Elizabeth, I...",IN
24,59748.855487,5.339340,7.748682,4.23,27809.986544,8.957371e+05,"24282 Paul Valley\r\nWest Perry, MI 03169-5806",MI
25,56974.476539,8.287562,7.312880,4.33,40694.869513,1.453975e+06,"61938 Brady Falls\r\nLewisfort, DE 61227",DE
26,82173.626076,4.018525,6.992699,2.03,38853.918066,1.125693e+06,"3599 Ramirez Springs\r\nJacksonhaven, AZ 72798",AZ
27,64626.880978,5.443360,6.988754,4.00,27784.742280,9.754295e+05,073 Christopher Falls Suite 882\r\nWest Cynthi...,MA
28,90499.057451,6.384359,4.242191,3.04,33970.164990,1.240764e+06,"6531 Chase Prairie Apt. 245\r\nSusanshire, MN ...",MN
29,59323.792100,6.977828,8.273697,4.07,37520.657732,1.577018e+06,"17124 Johnson Squares\r\nLake Robertfurt, AL 6...",AL
...,...,...,...,...,...,...,...,...
4970,55980.204807,7.014510,5.458789,2.11,43968.687046,1.120943e+06,"2558 King Trail\r\nEast Catherinebury, MP 2362...",MP
4971,73491.134427,5.784430,4.425959,3.37,30800.541060,1.111307e+06,"6043 Stevens Stream\r\nWest Kimberlymouth, ME ...",ME
4972,83695.272383,7.643507,7.127219,5.05,33113.759057,1.736402e+06,33465 Hernandez Forest Apt. 692\r\nPort Ashley...,KS
4973,78743.759274,6.583685,6.595683,4.07,24381.144540,1.340770e+06,"805 David Knoll Apt. 216\r\nMccarthyview, GU 7...",GU
4974,70720.296463,6.411801,5.048128,3.01,19114.019253,8.013486e+05,"14742 Lopez Ridge Apt. 889\r\nJessicatown, CA ...",CA
4975,54037.580879,8.471765,6.966072,3.27,28696.170856,1.324382e+06,6278 Jenkins Harbors Apt. 807\r\nNew Yvettehav...,MN
4976,75046.313791,5.351169,7.797825,5.23,34107.888619,1.340344e+06,"55823 Stuart Fields\r\nNunezstad, NM 03601",NM
4977,75980.438843,6.583105,5.914892,3.23,40394.593489,1.518478e+06,"1831 Escobar Plain Suite 171\r\nMartinezberg, ...",OH
4978,80393.339500,8.899713,5.652974,4.04,39547.932489,1.910585e+06,"02084 Rivera Lock\r\nHallville, NJ 32367-9579",NJ
4979,82224.695006,5.434087,8.375708,3.12,57166.867510,1.823498e+06,"4679 Turner Tunnel\r\nRosariobury, CT 68552-4766",CT
4980,75664.024482,5.789203,6.415312,2.02,54724.251275,1.406865e+06,"0476 Jessica Shoals\r\nMelissamouth, DE 39609-...",DE
4981,71663.871293,6.150745,7.311907,6.33,24109.778060,1.203850e+06,"1316 Tony Inlet Suite 235\r\nWest Jimmy, SC 72946",SC
4982,58800.908770,5.976507,7.304051,6.43,37426.709745,1.020096e+06,"109 Lee Wall Apt. 315\r\nLunamouth, AZ 05121-3634",AZ
4983,69655.183954,7.721100,6.077795,4.29,32902.355584,1.194357e+06,39174 Jessica Mission Apt. 539\r\nWest Cindybo...,WV
4984,62623.359828,5.071624,6.771015,3.33,50985.971202,1.211900e+06,"9894 Greg Ridge\r\nNorth Tiffanyhaven, ID 6660...",ID
4985,75117.042949,6.036275,6.538111,2.22,43976.031060,1.378938e+06,"PSC 7442, Box 6234\r\nAPO AP 13017",PSC
4986,71060.406015,5.718839,7.222730,4.34,34814.585591,1.260241e+06,"5611 Matthew Avenue\r\nLake Kevin, FM 72963-8891",FM
4987,65729.222330,6.237787,6.860475,3.12,25573.854289,1.197073e+06,641 Lisa Parkways Suite 552\r\nWest Amandaside...,SD
4988,67637.840665,7.056673,5.774409,3.05,43846.531340,1.275143e+06,"6066 Sanders Court Apt. 914\r\nSouth Alexis, F...",FM
4989,47965.406896,5.694638,7.363327,5.40,46071.947337,8.852050e+05,"19960 Scott Street\r\nPort Brenda, MO 02292-8651",MO
4990,52723.876555,5.452237,8.124571,6.39,14802.088438,4.795006e+05,"86727 Kelly Plaza\r\nLake Veronica, IL 04474",IL
4991,74102.191890,5.657841,7.683993,3.13,24041.270592,1.263721e+06,"2871 John Lodge\r\nAmychester, GU 61734-5597",GU
4992,87499.125743,6.403473,4.836091,4.02,40815.199679,1.568701e+06,Unit 2096 Box 9559\r\nDPO AE 80983-8797,AE
4993,69639.140896,5.007510,7.778375,6.05,54056.128430,1.381831e+06,5259 David Causeway Apt. 975\r\nSouth Alexstad...,IL
4994,73060.846226,5.293682,6.312253,4.16,22695.695480,9.053549e+05,"5224 Lamb Passage\r\nNancystad, GA 16579",GA
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\r\nFPO AP 30153-7653,AP
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\r\nAPO AA 42991-3352",PSC
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\r\nJoshualand, VA ...",VA
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\r\nFPO AE 73316,AE
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\r\nEast Holly, NV...",NV

In [89]:
X=housing.drop(["Address"],axis=1)

In [90]:
X=pd.get_dummies(X,columns=['State'],drop_first=True)

In [91]:
print(dummies)

      AA  AE  AK  AL  AP  AR  AS  AZ  CA  CO  ...  TN  TX  UT  VA  VI  VT  WA  \
0      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
1      0   0   0   0   0   0   0   0   1   0  ...   0   0   0   0   0   0   0
2      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
3      0   0   0   0   1   0   0   0   0   0  ...   0   0   0   0   0   0   0
4      0   1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
5      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
6      0   0   0   0   0   0   0   0   0   1  ...   0   0   0   0   0   0   0
7      0   0   0   0   0   0   0   0   0   0  ...   1   0   0   0   0   0   0
8      1   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
9      0   1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
10     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
11     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
12     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
13     0   0   0   0   0   1   0   0   0   0  ...   0   0   0   0   0   0   0
14     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
15     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
16     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
17     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
18     0   1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
19     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
20     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
21     0   0   0   0   1   0   0   0   0   0  ...   0   0   0   0   0   0   0
22     0   0   0   0   0   0   0   0   0   0  ...   1   0   0   0   0   0   0
23     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
24     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
25     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
26     0   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0
27     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
28     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
29     0   0   0   1   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..
4970   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4971   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4972   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4973   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4974   0   0   0   0   0   0   0   0   1   0  ...   0   0   0   0   0   0   0
4975   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4976   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4977   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4978   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4979   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4980   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4981   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4982   0   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0
4983   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4984   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4985   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4986   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4987   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4988   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4989   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4990   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4991   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4992   0   1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4993   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4994   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4995   0   0   0   0   1   0   0   0   0   0  ...   0   0   0   0   0   0   0
4996   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4997   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0
4998   0   1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4999   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0

      WI  WV  WY
0      0   0   0
1      0   0   0
2      1   0   0
3      0   0   0
4      0   0   0
5      0   0   0
6      0   0   0
7      0   0   0
8      0   0   0
9      0   0   0
10     0   0   0
11     0   0   0
12     0   0   0
13     0   0   0
14     0   0   0
15     0   0   0
16     0   0   0
17     0   0   0
18     0   0   0
19     0   0   0
20     0   0   0
21     0   0   0
22     0   0   0
23     0   0   0
24     0   0   0
25     0   0   0
26     0   0   0
27     0   0   0
28     0   0   0
29     0   0   0
...   ..  ..  ..
4970   0   0   0
4971   0   0   0
4972   0   0   0
4973   0   0   0
4974   0   0   0
4975   0   0   0
4976   0   0   0
4977   0   0   0
4978   0   0   0
4979   0   0   0
4980   0   0   0
4981   0   0   0
4982   0   0   0
4983   0   1   0
4984   0   0   0
4985   0   0   0
4986   0   0   0
4987   0   0   0
4988   0   0   0
4989   0   0   0
4990   0   0   0
4991   0   0   0
4992   0   0   0
4993   0   0   0
4994   0   0   0
4995   0   0   0
4996   0   0   0
4997   0   0   0
4998   0   0   0
4999   0   0   0

[5000 rows x 63 columns]

In [92]:
X.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,State_1
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,0
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,0
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,0
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,0
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,0

In [100]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,train_size = 0.7, random_state = 7) 
res_ls=[]

In [101]:
for k in exp_dict.keys():
    model=exp_dict[k][0]
    name=exp_dict[k][1]
    model.fit(x_train, y_train)
    y_pred=model.predict(x_test)
    r_score=model.score(x_test,y_test)
    rmse=rmse_score(y_test,y_pred)
    res_ls.append((name,rmse,r_score))

In [102]:
res_df=pd.DataFrame(res_ls)

In [103]:
res_df.columns=['model','rmse_score','r_score']
res_df.sort_values('rmse_score',inplace=True)

In [104]:
res_df

                       model    rmse_score   r_score
0           linearRegression  1.902316e-10  1.000000
4      RandomForestRegressor  1.646681e+03  0.999978
2         ExtraTreeRegressor  3.050853e+03  0.999923
1      DecisionTreeRegressor  3.343571e+03  0.999908
3  GradientBoostingRegressor  3.635170e+03  0.999891